.app {
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
}


.main-content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  flex: 1;
}

@media (max-width: 768px) {
  .main-content {
    padding: 1rem;
  }
}

@media print {
  .print-hide {
    display: none !important;
  }
  
  .main-content {
    padding: 0;
    max-width: 100%;
  }
}
